body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.external-font {
  font-family: "ADLaM Display", sans-serif;
  font-size: 18px;
}

.external-font.bold {
  font-weight: 700;
}
